body, ul, li, a, h1, p{
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;    
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

/* header menu */
header{
  background: #252525;
  padding: 21px 0;
}

header .menu_container{
  max-width: 960px;
  margin: 0px auto;
}

header .menu_container::before, .menu_container::after{
  content: '';
  display: table;
  clear: both;
}

header .menu_logo{
  display: block;
  float: left;
}

header .menu_logo{
  color: #fff;
}

header nav{
  float: right;
}

header nav li{
  padding: 8px 0 0 0;
  display: inline-block;
}

header nav a{
  font-size: 18px;
  color: #fff;
  padding: 20px;
}

/* introdução */
/* .introducao .introducao_container{
  width: 960px;
  margin: 0 auto;
} */

.introducao{
  width: 100%;
  background: url("../img/bg-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.introducao h1{
  padding: 139px 0 0 0;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.introducao p{
  font-size: 18px;
  font-style: italic;
  color: #fff;
  text-align: center;
  padding-bottom: 220px;
}

.introducao h1::after{
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  background: #fff;
  margin: 13px auto;
}

/* sobre */


