/* geral */
body, ul, li, a, h1, h2, h3, p{
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;    
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

h2{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

/* header menu */
header{
  position: fixed;
  width: 100%;
  background: #252525;
  /* padding: 10px 0; */
}

header .menu_container{
  max-width: 960px;
  margin: 0px auto;
}

header .menu_container::before, .menu_container::after{
  content: '';
  display: table;
  clear: both;
}

header .menu_logo{
  display: block;
  margin: 18px 0 0 10px;
  float: left;
}

header nav{
  float: right;
}

header nav li{
  margin-right: 10px;
  padding: 29px 0;
  display: inline-block;
}

header nav a{
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
}

/* introdução */
.introducao{
  width: 100%;
  background: url("../img/bg-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.introducao h1{
  padding: 139px 0 0 0;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.introducao p{
  font-size: 18px;
  font-style: italic;
  color: #fff;
  text-align: center;
  padding-bottom: 280px;
}

.introducao h1::after{
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  background: #fff;
  margin: 13px auto;
}

/* sobre */
.sobre h2{
  padding: 70px 0;
  /* font-size: 36px;
  font-weight: bold;
  text-align: center; */
}

.sobre_container::before, .sobre_container::after{
  content: "";
  display: table;
  clear: both;
}
.sobre_container{
  width: 960px;
  margin: auto;
}

.sobre .sobre_item{
  width: 460px;
  margin: 0 10px;
  float: left;  
}

.sobre .sobre_item image{
  width: 100%;
  display: block;
}

.sobre_container .texto_sobre {
  padding-top: 1px;
  margin: 0 10px;
  clear: both;
}

.sobre_container p{
  max-width: 560px;
  font-size: 18px;
  font-style: italic;
  text-align: right;
  padding: 70px 0 135px 0;
  margin-left: auto;
}

.sobre_container h3{
  position: absolute;
  margin-top: -30px;
  font-size: 36px;
  font-style: italic;
  font-weight: normal;
  color: #fff;
  background: #252525;
  width: 220px;
  padding: 05px 0 09px 0;
  text-align: center;
}

/* produtos */
.produto{
  width: 100%;
  background: #e7e4d8;
  background-size: cover;
}

.produto_container{
  width: 960px;
  margin: auto;
}

.produto_container ::before, .produto_container::after{
  content: "";
  display: table;
  clear: both;
}

.produto_container .desc_produto h2::before{
  content: "";
  display: block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: currentColor;
  margin: 0 auto;
}

.produto_container .desc_produto{
  width: 300px;
  margin: 10px;
  float: left;
}